@import url('https://fonts.googleapis.com/css?family=El+Messiri|Lalezar|Tajawal&display=swap');
* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
h1 {
	font-family: 'El Messiri';
}

@media (min-width: 100px) {
	.grid1 {
		margin: auto;
		margin-bottom: auto;
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		align-items: center;
		img {
			width: 90%;
			margin-left: 0%;
			margin-top: 20%;
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}
		.text1 {
			font-family: 'El Messiri';
			margin-top: 10%;
			h1 {
				font-size: 30px;
				margin-top: -5%;
			}
			p {
				font-size: 15px;
				margin-top: 1%;
			}
		}
	}
	.grid2 {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		grid-gap: 10px;
		text-align: right;
		align-items: center;
		.image {
			text-align: center;
		}
		img {
			width: 80%;
			margin-left: auto;
			margin-top: 10%;
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}
		.text2,
		.text4,
		.text6,
		.text8 {
			grid-column: auto;
			margin-left: auto;
		}
		.text3,
		.text5,
		.text7,
		.text9 {
			grid-column: auto;
			margin-right: auto;
		}

		.text2 {
			grid-row: auto;
			margin-top: auto;
		}
		.text3 {
			grid-row: auto;
		}
		.text4 {
			grid-row: auto;
		}
		.text5 {
			grid-row: auto;
		}
		.text6 {
			grid-row: auto;
		}
		.text7 {
			grid-row: auto;
		}
		.text8 {
			grid-row: auto;
		}
		.text9 {
			grid-row: auto;
		}
		.text10 {
			grid-row: auto;
		}

		.image2,
		.image4,
		.image6,
		.image8 {
			grid-column: auto;
			transform: scaleX(-1);
		}
		.image3,
		.image5,
		.image7,
		.image9 {
			grid-column: auto;
		}
		.textbox {
			//background-color: white;
			//box-shadow: 10px 10px 30px rgb(0, 0, 0);
			margin: auto;
			padding: 0%;
			p {
				padding: 1% 10% 10% 9%;
				line-height: 1.7em;
				font-size: 20px;
				font-family: 'Tajawal';
			}
			h1 {
				font-size: 30px;
				margin-left: 10%;
				padding-right: 10%;
				padding-top: 0%;
				font-weight: light;
				text-align: right;
				padding-bottom: 2%;
			}
		}
	}
}
@media (min-width: 1024px) {
	.grid1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: center;
		align-items: center;
		img {
			width: 90%;
			margin-left: 10%;
			margin-top: 10%;
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}
		.text1 {
			font-family: 'El Messiri';
			margin-top: 10%;
			h1 {
				font-size: 75px;
				margin-top: -15%;
			}
			p {
				font-size: 25px;
				margin-top: 1%;
			}
		}
	}

	.grid2 {
		margin: auto 3%;
		margin-bottom: 10%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: auto;
		grid-gap: 50px;
		text-align: right;
		align-items: center;
		.image {
			text-align: center;
			img {
				width: 85%;
				margin-top: 3%;
			}
		}

		.text2,
		.text4,
		.text6,
		.text8,
		.text10 {
			grid-column: 2;
			margin-left: 0%;
		}
		.text3,
		.text5,
		.text7,
		.text9 {
			grid-column: 1;
		}

		.text2 {
			grid-row: 1;
			margin-top: 10%;
		}
		.text3 {
			grid-row: 2;
		}
		.text4 {
			grid-row: 3;
		}
		.text5 {
			grid-row: 4;
		}
		.text6 {
			grid-row: 5;
		}
		.text7 {
			grid-row: 6;
		}
		.text8 {
			grid-row: 7;
		}
		.text9 {
			grid-row: 8;
		}
		.text10 {
			grid-row: 9;
		}

		.image2,
		.image4,
		.image6,
		.image8,
		.image10 {
			grid-column: 1;
		}
		.image3,
		.image5,
		.image7,
		.image9 {
			grid-column: 2;
		}
		.image5 {
			img {
				margin-top: -5%;
				width: 60%;
			}
		}

		.textbox {
			//background-color: white;
			//box-shadow: 10px 10px 30px rgb(0, 0, 0);
			margin: auto;
			padding: 0%;
			p {
				padding: 1% 5% 10% 9%;
				line-height: 1.7em;
				font-size: 25px;
				font-family: 'Tajawal';
			}
			h1 {
				font-size: 45px;
				margin-left: 10%;
				text-align: right;
				padding-top: 7%;
				font-weight: light;
				text-align: center;
				padding-right: 0%;

				padding-bottom: 2%;
			}
		}
	}
}
